.header {
  margin-bottom: 16px;
  .burger{
    display: none;
  }
  &__top {
    background: #ECECEC;
  }
  &__top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
  }
  &__data-wrap {
    display: flex;
  }
  &__tel {
    font-family: $font-add;
    font-weight: 600;
    font-size: 12px;
    color: #101010;
    margin-right: 30px;
  }
  &__work-time {
    font-family: $font-add;
    font-weight: normal;
    font-size: 12px;
    color: #101010;
    i {
      margin-right: 5px;
      display: inline-block;
      width: 10px;
      height: 10px;
      background: url(../img/time.svg) center/contain no-repeat;
    }

  }
  &__soc {
    display: flex;
    li {
      margin-right: 15px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    a {
      display: block;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #CECECE;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px;
      transition: .2s ease-in-out all;
      position: relative;
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12px;
        transition: .2s ease-in-out all;
        opacity: 0;
      }
      &:hover {
        background-color: #E01B1B;
        &:before {
          opacity: 1;
        }
      }
    }

    &--vk {
      background-image: url(../img/vk.svg);
      &:before {
        background-image: url(../img/vk-white.svg);
      }
    }
    &--telegram {
      background-image: url(../img/telegram.svg);
      &:before {
        background-image: url(../img/telegram-white.svg);
      }
    }
    &--instagram {
      background-image: url(../img/instagram.svg);
      &:before {
        background-image: url(../img/instagram-white.svg);
      }
    }
  }
  &__personal-area {
    font-family: $font-add;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #101010;
    a {
      color: #E01B1B;
      transition: .2s ease-in-out opacity;
      &:hover {
        opacity: .65;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }
  &__logo {
    padding: 8px 12px 0;
    width: 153px;
    height: 75px;
    background: #E01B1B url(../img/logo.svg) right bottom no-repeat;
    line-height: 1.3;
    font-weight: bold;
    font-family: $font-add;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: .2s ease-in-out background-color;
    strong {
      display: block;
      font-weight: 900;
    }
    &:hover {
      color: inherit;
      background-color: #ff2121;
    }
  }
  &__menu {
    display: flex;
    li {
      margin-right: 50px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    a {
      font-family: $font-add;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      color: #FFFFFF;
      &.active {
        color: #E01B1B;
        pointer-events: none;
      }
      &:hover {
        color: #787878;
      }
      &:active {
        color: #E01B1B;
      }
    }
  }
  &__search-wrap {
    display: flex;
    justify-content: space-between;
    max-width: 70px;
    width: 100%;
  }
  &__search {
    background: url(../img/search.svg) center/contain no-repeat;
    width: 20px;
    height: 20px;
    display: block;
    transition: .2s ease-in-out opacity;
    &:hover {
      opacity: .75;
    }
  }
  &__basket {
    width: 22px;
    height: 20px;
    background: url(../img/cart.svg) center/contain no-repeat;
    position: relative;
    cursor: pointer;
    transition: .2s ease-in-out opacity;
    &:hover {
      opacity: .75;
    }
  }
  &__basket-count {
    min-width: 21px;
    height: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E01B1B;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    color: #FFFFFF;
    top: -7px;
    right: -14px;
    position: absolute;
    padding: 0 3px;
  }

}

@media (max-width: $xl) {
  .header {
    &__menu{
      li{
        margin-right: 30px;
      }
    }

  }
}
@media (max-width: $lg) {
  .header {
    &__nav{

    }
    &__menu{
      display: none;
    }
    .burger{
      display: flex;
    }
    &__top {
      display: none;
    }
  }
}
@media (max-width: $sm) {
  .header {

    &__nav{
      padding-right: 5px;
    }
    .burger{
      margin-right: 22px;
    }
    &__logo{
      padding: 5px 5px 0;
      width: 88px;
      height: 43px;
      font-size: 10px;
      background-position: 100% 30%;
    }
  }
}