.main {
  overflow: hidden;
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 100px;
    margin-top: 60px;
    position: relative;
    &:before {
      content: '';
      background: url(../img/dotted-left.svg) center/contain no-repeat;
      width: 338px;
      height: 166px;
      position: absolute;
      left: -155px;
      bottom: 174px;
    }
    &:after {
      content: '';
      background: url(../img/dotted-right.svg) center/contain no-repeat;
      width: 338px;
      height: 166px;
      position: absolute;
      right: -155px;
      top: -15px;
    }
  }
  &__logo {
    background: url(../img/logo-main.png) center/contain no-repeat;
    width: 100%;
    max-width: 808px;
    height: 235px;
    margin-bottom: 40px;
  }
  &__desc {
    font-family: $font-add;
    font-weight: 500;
    font-size: 24px;
    line-height: 130.5%;
    text-align: center;
    color: #ECECEC;
    margin-bottom: 60px;
  }
  &__link {
    display: flex;
    align-items: center;
    font-family: $font-add;
    font-weight: 600;
    font-size: 16px;
    line-height: 130.5%;
    color: #E01B1B;
    border: 2px solid #E01B1B;
    padding: 19px 33px;
    max-width: 325px;
    transition: .2s ease-in-out border, .2s ease-in-out color, .2s ease-in-out opacity;
    &:after {
      width: 19px;
      height: 12px;
      display: inline-block;
      content: '';
      margin-left: 45px;
      background: url(../img/arrow-red.svg) center/contain no-repeat;
      transition: .2s ease-in-out transform;
    }
    &:hover {
      color: #C51A1A;
      border-color: #C51A1A;
      &:after {
        transform: translateX(3px);
      }
    }
  }
  &__categories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }
  &__categories-item {
    display: flex;
    flex-direction: column-reverse;
    height: 432px;
    width: 370px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 35px 30px;
    transition: .2s ease-in-out opacity;
    span {
      font-family: $font-add;
      font-weight: 600;
      font-size: 30px;
      color: #FFFFFF;
      line-height: 1;
      &:after {
        width: 19px;
        height: 22px;
        display: inline-block;
        content: '';
        margin-left: 23px;
        background: url(../img/arrow-white.svg) center/contain no-repeat;
        transition: .2s ease-in-out transform;
      }

    }
    &:hover {
      opacity: .85;
      span {
        &:after {
          transform: translateX(5px);
        }
      }
    }
  }

  &__new-items {
    padding-bottom: 100px;
  }

  &__new-items-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
    h2 {
      margin: 0;
      font-weight: 600;
      font-size: 30px;
      text-transform: uppercase;
    }
  }
  &__new-items-link {
    font-weight: 500;
    font-size: 16px;
    position: relative;
    &:after {
      width: 22px;
      height: 22px;
      display: inline-block;
      content: '';
      margin-left: 23px;
      background: url(../img/arrow-top.svg) center right no-repeat;
      transform: rotate(90deg);
      position: relative;
      right: 0;
      transition: .2s ease-in-out all;
    }
    &:hover {
      &:after {
        opacity: .7;
        right: -5px;
      }
    }
  }
  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__products-item {
    max-width: 270px;
    width: 100%;
    margin-bottom: 55px;
    position: relative;

    h2 {
      font-weight: normal;
      font-size: 18px;
      margin-bottom: 5px;
    }
    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin-bottom: 15px;
    }
    .price {
      font-weight: 600;
      font-size: 18px;
      color: #fff;
      .woocommerce-Price-currencySymbol {
        display: inline-block;
        margin-left: 5px;
      }
      ins {
        margin-left: 10px;
        display: inline-block;
        text-decoration: none;
      }
    }
    .marker-new {
      position: absolute;
      top: 8px;
      right: 8px;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      color: #FFFFFF;
      min-width: 108px;
      height: 36px;
      background: #E01B1B;
      border-radius: 10px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
    }
    &--hidden {
      margin: 0 !important;
      padding: 0 !important;
      height: 0 !important;
    }
    &:hover {
      .price {

      }
    }
  }

}

@media (max-width: $xl) {
  .main {
    &__logo {
      height: 200px;
    }
    &__head {
      &:before, &:after {
        width: 290px;
        height: 150px;
      }
    }
    &__categories-item {
      padding: 0 30px 25px;
      height: 370px;
      width: 300px;
      span {
        font-size: 26px;
      }
    }
    &__products-item {
      max-width: 225px;
    }
    &__new-items {
      padding-bottom: 70px;
    }
    &__desc {
      font-size: 22px;
    }
  }
}

@media (max-width: $lg) {
  .main {
    &__logo {
      height: 180px;
      margin-bottom: 15px;
    }
    &__head {
      margin-top: 40px;
      padding-bottom: 90px;
      &:before, &:after {
        width: 250px;
        height: 130px;
      }
    }
    &__desc {
      font-size: 19px;
    }
    &__categories {
      margin-bottom: 90px;
    }
    &__categories-item {
      padding: 0 15px 15px;
      height: 270px;
      width: 230px;
      span {
        font-size: 24px;
      }
    }
    &__products-item {
      &:nth-of-type(1n+7) {
        display: none;
      }
    }

    &__new-items {
      padding-bottom: 70px;
    }
  }
}

@media (max-width: $md) {
  .main {

    &__new-items {
      padding-bottom: 70px;
    }
    &__categories {
      margin-bottom: 90px;
      flex-direction: column;
      align-items: center;
    }
    &__categories-item {

      max-width: 100%;
      padding: 0 30px 25px;
      width: 100%;
      margin-bottom: 23px;
      height: 270px;
      background-position: 50% 85%;
      &:last-of-type{
        margin-bottom: 0;
      }
      span {
        font-size: 30px;
      }
    }
    &__products-item {
      max-width: 245px;
    }
  }
}

@media (max-width: $sm) {
  .main {

    &__logo {
      height: 110px;
    }
    &__head {
      margin-top: 55px;
      padding-bottom: 55px;
      &:after {
        width: 150px;
        height: 150px;
        right: -33px;
        top: -80px;
      }
      &:before {
        width: 150px;
        height: 150px;
        left: -83px;
        bottom: 135px;
      }
    }
    &__desc {
      font-size: 14px;
      max-width: 220px;
    }
    &__link {
      padding: 18px 15px;
    }


    &__categories-item {
      max-width: 330px;
      height: 240px;
      padding: 0 15px 15px;
      background-position: center bottom;
    }
    &__new-items-header {
      a{
        display: none;
      }
    }
    &__products-item {
      max-width: 48.5%;
      margin-bottom: 45px;
      img{
        margin-bottom: 10px;
      }
      h2{
        font-size: 16px;
      }
      .price{
        font-size: 16px;
      }
      .marker-new{
        height: 25px;
        font-size: 12px;
        padding: 0px 5px;
        min-width: 75px;
      }
    }

    &__new-items {
      padding-bottom: 40px;
    }
  }
}
