.overflow-hide {
  overflow: hidden !important;
}

.overflow-unset {
  overflow: unset !important;
}

.w-0 {
  width: 0 !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  &.black {
    background: #110D10;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in-out opacity, .2s ease-in-out visibility;
  }
  &.active-full {
    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.wrapper-content {
  flex: 1 0 auto;
  &.black {
    background: #110D10;
  }
}

.sticky {
  position: fixed;
  z-index: 101;
}

.stop {
  position: relative;
  z-index: 101;
}

@-webkit-keyframes tape {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -400%;
  }
}

@keyframes tape {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -400%;
  }
}

@media (max-width: $lg) {
  .wrapper {
    &.active {
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@media (max-width: $md) {
  .wrapper {
    &.active-full {
      &:after {
        display: none;
        //top: 94px;
      }
    }
  }
}
